*.vo
*.glob
*.v.d

*.pyc
*.hi
*.exe
*.o
*.a

*~

compatibility/Coq__*__Compat.v
!compatibility/Coq__master__Compat.v
!compatibility/Coq__trunk__Compat.v
!compatibility/Coq__8_4__Compat.v
!compatibility/Coq__8_5__Compat.v
!compatibility/Coq__8_5beta1__Compat.v
!compatibility/Coq__8_5beta2__Compat.v
!compatibility/Coq__8_5beta3__Compat.v
!compatibility/Coq__8_5pl1__Compat.v
!compatibility/Coq__8_5pl2__Compat.v
!compatibility/Coq__8_5rc1__Compat.v
!compatibility/Coq__8_6__Compat.v
!compatibility/Coq__8_6beta1__Compat.v
!compatibility/Coq__8_7__Compat.v
!compatibility/Coq__8_8__Compat.v
!compatibility/Coq__8_9__Compat.v
!compatibility/Coq__8_10__Compat.v
!compatibility/Coq__8_11__Compat.v
!compatibility/Coq__8_12__Compat.v
!compatibility/Coq__8_13__Compat.v
!compatibility/Coq__8_14__Compat.v
!compatibility/Coq__8_15__Compat.v
!compatibility/Coq__8_16__Compat.v
!compatibility/Coq__8_17__Compat.v
!compatibility/Coq__8_18__Compat.v
!compatibility/Coq__8_19__Compat.v
